body {
    background: repeating-linear-gradient(
        45deg,
        #1e272c,
        #1e272c 10px,
        #282C35 10px,
        #282C35 20px
      );
}

.container {
    background-color: black;
}

#exposition{
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    margin: 1%;
    padding: 100px;
    opacity: 0.87;
    border-radius: 25px;
    background-color: black;
    color: white;
    z-index: 10;
}

.sName{
    font-weight: bold;
    font-variant: small-caps;
    color: #7FB27F;
    letter-spacing: 2px;
}

#dungeonBox{
    height: 400px;
    background-image: none;
    color: white;
}

#header {
    padding: 10px;
}

#placeTitle, #scoreBox{
    padding: 10px;
}


#dialogue{
    background-color: black;
    color: white;
}

#scoreBox{
    position: relative;
    width: 30%;
    padding: 10px;
    margin-right: -10px;
}

#fearBox{
    width: 100%;
}