@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    width: 100%;
    background: repeating-linear-gradient(
    45deg,
     #000000,
     #000000 10px,
     #284942 10px,
     #284942 20px
    );

    font-family: 'Oldenburg', cursive;
}

h1, h2, h3, h5 {
    font-family: 'Rock Salt', cursive;
}

h4 {
    font-size: 15px;
}

.btn {
    background-color: #174038;
    font-family: 'Rock Salt', cursive;
    border: none;
}

.btn:hover{
    background-color: black;
    border: none;
    color: #174038;
}

.container {
    border-radius: 25px;
    margin-top: 2%;
}

#exposition{
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    margin: 1%;
    padding: 100px;
    opacity: 0.87;
    border-radius: 25px;
    background-color: black;
    color: white;
    z-index: 10;
}

.sName{
    font-weight: bold;
    font-variant: small-caps;
    color: #5b8c85;
    letter-spacing: 2px;
}

#dungeonBox{
    height: 400px;
    background-image: none;
    color: white;
}

#header {
    padding: 5px;
}

#fearBox, #scoreBox{
    padding: 10px;
}

#scoreBox{
    font-size: 15px;
}


#dialogue{
    overflow: auto;
    height: 150px;
    padding: 30px;
    color: white;
}

#scoreBox{
    position: relative;
    width: 30%;
    padding: 10px;
    margin-right: -10px;
}

#fearBox{
    width: 100%;
}

#guessBox{
    border-radius: 0 0 25px 0;
    padding: 30px;
}

#remGuessBox{
    padding: 10px;
}

#pastGuessBox{
    padding: 10px;
}

.badgeBut{
    margin: 5px;
    float: left;
    height: 75px;
    width: 75px;
    border-radius: 40%;
}